.organization {
  display: flex;
  background: #fff;
  border-radius: 7px;
  border: 1px solid #e7e8ec;
  padding: 10px 15px;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);

  @media (max-width: 480px) {
    margin-bottom: 1.5rem;
  }

  & .organization__logotype {
    align-items: center;
    & img {
      width: 70px;
      height: auto;
    }
  }

  & .organization__name {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    padding: 7px;
    color: #212529;
  }
}

.organization__link {
  &:hover {
    text-decoration: none;
  }
}